.shop{
    margin-left: 10px;
    width: 100%;
}

.shopDiv{
    margin-left: auto; 
    margin-right: 0;
}

.shopHeder{
    border-bottom: 2px solid rgb(122, 18, 182);
    width: 95%;
    max-width: 350px;
}

.shopBT {
    background-color: #a7c8a3; /* Green */
    border: solid thin;
    color: black;
    border-radius: 1px;
    height: 20px; width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    display: block;
    margin-bottom: 3px;
    margin-top: 3px;
    position: relative;
    cursor: pointer;

}

.shopBT:disabled {
    background-color: #7c7c7c; /* Green */
    cursor: default;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    height: auto;
    background-color: rgb(77, 76, 76);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    font-size: 10px;
    display:inline-block;
    position:absolute;
    z-index: 1;
    top: 130%;
    left: -18%;
  }
  
  .shopBT:hover .tooltiptext {
    visibility: visible;
  }

  .description{
      margin-top: 3px;

  }

 .tooltiptext .description:nth-child(even) {
    margin-bottom: 3px;
    margin-left: 5%;
    padding: 2px;
    width: 90%;

    align-items: center;
    border-bottom: 1px solid rgb(143, 116, 116);
    border-top: 1px solid  rgb(143, 116, 116);
}

.price{
    color:cyan
}